.Ingredients {
    width: 100%;
}

.Ingredients .Filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Ingredients .Filter input {
    border: 2px solid #ccc;
    background-color: #fff;
}
